header{
    width: 100%;
    height: 75px;
    position: fixed;
    left: 0;
    top: 0;
    background-color: green;
    text-align: left;
    display: flex; 
    align-items: end;
    padding: 5px;
}  
 body, div, p, h2 {
    height: auto;
    font-family: 'Comic sans ms';
    background-color: lightgreen;
    padding: 5px;
    text-align: center;
    padding-bottom: 5px;
    margin-top: 45px;
    width: auto;
  }
 #nav {
    color: #fff;
    text-decoration: none;
  }
#nav li a {
    color: #fff;
    font-size: 20px;
    padding: 15px;
}
    
#nav li {
    display: inline-block;
    list-style-type: none;
    text-decoration: none;
    color: #fff; 
}
#nav li:hover {
    cursor: pointer;
    background-color: blue;
    border-style: none;
}
 input[type="text"], input[type="email"], textarea, button {
  box-sizing: border-box;
  display: block; 
  border-radius: 1px solid black;
  padding: 5px 15px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}
button:hover{
    background-color: red
}
button:active {
    background-color: green;
    color: #fff;
    box-shadow: 0 2px #666;
    transform: translateY(2px);
}
    
footer {
    width: 100%;
    height: 75px;
    bottom: 0;
    left: 0;
    background-color: green;
    padding: 10px;
    position: fixed;
}
.innerfooter {
    background-color: green;
    color: #fff;
    text-align: right;
    padding-right: 35px;
    padding-bottom: 5px;
}